header{
    font-family: Cambria;
    text-align: center;
}

body{
    background-color: rgb(218,219, 211);
}

.body2{
    background-color: white;
    border: solid black;
    padding: 10px;
}

.body2 > .reg {
    font-family: Arial;
}

.body2 > .reg > .data, .body2 > .reg > .result{
    font-family: Cambria;
}

.container > .definitions{
    font-family: Arial;
    text-align: center;
}